
# Created by https://www.gitignore.io/api/lyx

### LyX ###
# Ignore LyX backup and autosave files
# http://www.lyx.org/
*.lyx~
*.lyx#

### JabRef ###
# JabRef - http://jabref.sourceforge.net/
*.bib.bak
